{% extends '_base.html' %}
{% load humanize %}

{% block title %}{{ cancha.nombre }}{% endblock title %}

{% block content %}
<section class="mb-5">
    <article class="card position-relative">
        <header class="card-header">
            <div class="d-flex justify-content-between align-items-center">
                <h1 class="card-title">
                    {{ cancha.nombre }}
                </h1>
                <p class="card-subtitle  mb-2 text-muted">${{ cancha.precio|intcomma }}</p>
            </div>
            <p class="card-text">{{ cancha.direccion }}</p>
        </header>
        <div class="card-body p-5">
            <p class="card-text">{{ cancha.descripcion }}</p>
        </div>
    </article>
</section>
<section>
    <div class="container">
        <h2>Partidas Abiertas</h2>
        <a href="{% url 'crear_partida_en_cancha' cancha.id %}" class="btn btn-primary mb-4">Crear Partida</a>
        <ul class="list-unstyled row">
            {% for partida in cancha.partidas.all %}
            <li class="col">
                <article class="card">
                    <header class="card-header">
                        <p class="fs-3">
                            <span class="fs-1">{{ partida.cupos }}</span> cupos...
                        </p>
                    </header>
                    <div class="card-body">
                        <h3 class="card-title fs-5">{{ partida.cuando|date:"l j \d\e F P" }}</h3>
                        <p class="card-subtitle text-muted">{{ partida.creado_por }}</p>
                        <a href="#" class="btn btn-primary">Solicitar Unirse</a>
                    </div>
                </article>
            </li>
            {% endfor %}
        </ul>
    </div>
</section>
{% endblock content %}