{% extends '_base.html' %}
{% load humanize %}

{% block title %}{{ cancha.nombre }}{% endblock title %}

{% block content %}
<!-- Product section-->
<section class="py-5">
    <div class="container px-4 px-lg-5 my-5">
        <div class="row gx-4 gx-lg-5 align-items-center">
            <div class="col-md-6"><img class="card-img-top mb-5 mb-md-0" src="https://dummyimage.com/600x700/dee2e6/6c757d.jpg" alt="..." /></div>
            <div class="col-md-6">
                <div class="small mb-1">{{ cancha.direccion }}</div>
                <h1 class="display-5 fw-bolder">{{ cancha.nombre }}</h1>
                <div class="fs-5 mb-5">
                    <span>${{ cancha.precio|intcomma }}</span>
                </div>
                <p class="lead">{{ cancha.descripcion }}</p>
                <div class="d-flex">
                    <button class="btn btn-outline-dark flex-shrink-0" type="button">
                        Crear Partida
                    </button>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="py-4 bg-light">
    <div class="container px-4 px-lg-5">
        <h2 class="fw-bolder mb-4">Partidas...</h2>
        <ul class="list-unstyled row">
            {% for partida in cancha.partidas.all %}
            <div class="col mb-5">
                <div class="card h-100">
                    <!-- Product details-->
                    <div class="card-body p-4">
                        <div class="text-center">
                            <!-- Product name-->
                            <p class="fs-3">
                                <span class="fs-1">{{ partida.solicitudes.all |length }}</span> solicitudes...
                            </p>
                            <h3 class="card-title fs-5">{{ partida.cuando|date:"l j \d\e F P" }}</h3>
                            <!-- Product price-->
                            <p class="card-text">{{ partida.cancha }}</p>
                        </div>
                    </div>
                    <!-- Product actions-->
                    <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                        <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="{{ partida.get_absolute_url }}">Ver Partida</a></div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </ul>
    </div>
</section>
{% endblock content %}