{% extends '_base.html' %}
{% load humanize %}

{% block title %}{{ cancha.nombre }}{% endblock title %}

{% block content %}
<!-- Product section-->
<section class="py-5">
    <div class="container px-4 px-lg-5 my-5">
        <div class="row gx-4 gx-lg-5 align-items-strech">
            <div class="col-md-6">
                <div class="small mb-1">{{ partida.cupos }} cupos</div>
                <h1 class="display-5 fw-bolder">
                    Partida #{{ partida.id }}
                </h1>
                <div class="fs-5 mb-5">
                    <span>{{ partida.cuando|date:"l j \d\e F P" }}</span>
                </div>
                <p class="lead">{{ cancha.mensaje }}</p>
                <div class="d-flex">
                    {% if not solicitado and partida.creado_por != user %}
                    <a class="btn btn-outline-dark flex-shrink-0" href='{% url 'crear_solicitud' partida.pk %}'>Solicitar Unirse</a>
                    {% endif %}
                </div>
            </div>
            <div class="col-md-6 card p-3">
                <h2>Interesados: {{ partida.solicitudes.all |length}}</h2>
                <ul class="list-unstyled ">
                    {% for solicitud in partida.solicitudes.all %}
                    <li class="">
                        <article class="card mb-4">
                            <header class="card-header">
                                <h3>{{ solicitud.usuario }}</h3>
                            </header>
                            {% if partida.creado_por == user %}
                            <div class="p-2 d-grid gap-2 d-md-flex justify-content-md-start">
                                {% if solicitud.is_accepted == True %}
                                <p class="fs-3">Acceptado</p>
                                {% elif solicitud.is_accepted == False %}
                                <p class="fs-3">Rechazado</p>
                                {% else %}
                                <a href="{% url 'accept_solicitud' solicitud.pk %}" class="btn btn-primary btn-lg px-4 me-md-2">Aceptar</a>
                                <a href="{% url 'reject_solicitud' solicitud.pk %}" class="btn btn-outline-danger btn-lg px-4">Rechazar</a>
                                {% endif %}
                            </div>
                            {% endif %}
                        </article>
                    </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
</section>



{% endblock content %}