{% extends '_base.html' %}
{% load static humanize %}

{% block title %}Página prinicipal{% endblock title %}

{% block content %}
{% if user.is_authenticated %}
<section class="py-5 bg-light">
    <div class="container px-4 px-lg-5">
        <h2 class="fw-bolder mb-4">Mis Partidas...</h2>
        <a href="{% url 'crear_partida' %}" class="btn btn-lg btn-outline-success mb-4">
            Crear Partida Nueva
        </a>
        <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
            {% for partida in user.partidas.all %}
            <div class="col mb-5">
                <div class="card h-100">
                    <!-- Product details-->
                    <div class="card-body p-4">
                        <div class="text-center">
                            <!-- Product name-->
                            <p class="fs-3">
                                <span class="fs-1">{{ partida.solicitudes.all |length }}</span> solicitudes...
                            </p>
                            <h3 class="card-title fs-5">{{ partida.cuando|date:"l j \d\e F P" }}</h3>
                            <!-- Product price-->
                            <p class="card-text">{{ partida.cancha }}</p>
                        </div>
                    </div>
                    <!-- Product actions-->
                    <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                        <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="{{ partida.get_absolute_url }}">Ver Partida</a></div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</section>
{% else %}
<div class="container col-xxl-8 px-4 py-5">
    <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
        <div class="col-10 col-sm-8 col-lg-6">
            <img src="{% static 'images/cancha6.jpeg' %}" class="d-block mx-lg-auto img-fluid" alt="Cancha de futbol 5" width="700" height="500" loading="lazy">
        </div>
        <div class="col-lg-6">
            <h1 class="display-5 fw-bold lh-1 mb-3">Encuentra tu equipo para echarte un partidito</h1>
            <p class="lead">Conectate con jugadores de tu ciudad para jugar fútbol. ¿Te faltan personas para completar el grupo? ¿Quieres jugar fútbol, pero no tienes con quien? Con Fut4All eso ya no es un problema.</p>
            <div class="d-grid gap-2 d-md-flex justify-content-md-start">
                <a class="btn btn-primary btn-lg px-4 me-md-2" href="{% url 'signup' %}">¡Entra Ya!</a>
            </div>
        </div>
    </div>
</div>
{% endif %}
<section class="py-5 bg-light">
    <div class="container px-4 px-lg-5">
        <h2 class="fw-bolder mb-4">Canchas</h2>
        <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
            {% for cancha in lista_canchas %}
            <div class="col mb-5">
                <div class="card h-100">
                    <!-- Sale badge-->
                    <div class="badge bg-dark text-white position-absolute" style="top: 0.5rem; right: 0.5rem">{{ cancha.partidas.all |length}} partidas</div>
                    <!-- Product image-->
                    <img class="card-img-top" src="{% static cancha.image  %}" alt="..." />
                    <!-- Product details-->
                    <div class="card-body p-4">
                        <div class="text-center">
                            <!-- Product name-->
                            <h5 class="fw-bolder">{{ cancha.nombre }}</h5>
                            <!-- Product reviews-->
                            <div class="d-flex justify-content-center small text-warning mb-2">
                                {% for i in cancha.rating %}
                                <div class="bi-star-fill"></div>
                                {% endfor %}
                            </div>
                            <!-- Product price-->
                            <p>${{ cancha.precio | intcomma }}</p>
                            <p>{{ cancha.direccion }}</p>
                        </div>
                    </div>
                    <!-- Product actions-->
                    <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                        <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="{{ cancha.get_absolute_url }}">Ver más</a></div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</section>
{% endblock content %}